body {
  background: #e8e7e7; 
  font-family: arial;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #79a8a9;
  border-bottom: solid 2px #79a8a9;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

button{
  display: inline-block;
  border: none;
  color:white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #79a8a9;
  margin: 15px;
}

button, 
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
  color 0.2s ease;
}

/* ICONS */

/* .list svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
} */

.is-high-score {
  fill: #FFC657;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
} 

/* COMPONENT STYLES -------------------- */

.list {
  background: #fff;
  margin: 10px;
  border-radius: 6px;
  border-style: solid;
  border-color: #79a8a9;
  overflow: hidden;
}

.video {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 1px grey;
  letter-spacing: 2px;
}

  .video-name:hover .remove-video {
    visibility: visible;
  }

  .video-name,
  .counter-score {
    color: #2F2366;
  }

  .video-name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 10px;
  }

  .remove-video {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: hidden;
    color: #EF5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }

.stats,
.stopwatch {
  width: 170px;
}

.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
}

  .stats td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
  }

  .stats td:last-child {
    text-align: left;
  }

  .play {
    background-color: #39ac39;
  }

  .play:hover {
    background: #83D97C;
  }

  .delete {
    background-color: #e63900 ;
  }
  .delete:hover {
    background: #ff9f80;
  }


.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
  overflow: hidden;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; 
  border:1px solid #92b0b3;
}

.files {
  position:relative;
  width: auto
}

.files::after {  
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url('https://image.flaticon.com/icons/png/128/109/109612.png');
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.files::before {
  position: absolute;
  bottom: 10px;
  left: 0;  
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 123px;
  content: " Drop Video Here ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
} 

